<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>vms.penglei.ybyte.org</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>14A194C0-FC82-4CA2-B21A-8CEFB0CABDA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DE9C609-8980-4924-8602-C963A887F721</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DE9C609-8980-4924-8602-C963A887F721</key>
		<array/>
		<key>37F02149-F2DC-4A50-A8E4-593770EAD972</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF385A25-D02D-4959-99EB-96E2DF1DE852</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>50C0900F-CDD0-415F-8761-71A49ED458CD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>19705020-E6EB-489A-950E-666DE0D2B51E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D8FDA64B-0C96-4258-80F5-4D0CF3E3918E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A95D568-06E8-4BB9-BE5B-3F8AEED21323</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14A194C0-FC82-4CA2-B21A-8CEFB0CABDA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7D5E2A3-012A-46A0-815C-89B7C06E95D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A95D568-06E8-4BB9-BE5B-3F8AEED21323</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>penglei</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tart VM</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>vm=$1


#/Users/penglei/.local/bin/tart
echo "tart run  $vm --no-graphics" &gt; ~/debug.log</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF385A25-D02D-4959-99EB-96E2DF1DE852</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>start</string>
						<key>outputlabel</key>
						<string>start</string>
						<key>uid</key>
						<string>50C0900F-CDD0-415F-8761-71A49ED458CD</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>stop</string>
						<key>outputlabel</key>
						<string>stop</string>
						<key>uid</key>
						<string>D8FDA64B-0C96-4258-80F5-4D0CF3E3918E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>nop</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>37F02149-F2DC-4A50-A8E4-593770EAD972</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>vm</string>
				<key>subtext</key>
				<string>start or stop tart virtual machine</string>
				<key>text</key>
				<string>Tart VM Manage</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E7D5E2A3-012A-46A0-815C-89B7C06E95D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>2DE9C609-8980-4924-8602-C963A887F721</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>6A95D568-06E8-4BB9-BE5B-3F8AEED21323</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>/</string>
				<key>discardemptyarguments</key>
				<true/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>argi_</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>14A194C0-FC82-4CA2-B21A-8CEFB0CABDA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Ok</string>
				<key>button2</key>
				<string>Cancel</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>title</key>
				<string>Stop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>19705020-E6EB-489A-950E-666DE0D2B51E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>34FB284B-EF98-4456-949D-ED48D403FC1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7FA150EE-0CE6-41A3-8DAC-BE0921CC5EBB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>14A194C0-FC82-4CA2-B21A-8CEFB0CABDA5</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>19705020-E6EB-489A-950E-666DE0D2B51E</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>2DE9C609-8980-4924-8602-C963A887F721</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>34FB284B-EF98-4456-949D-ED48D403FC1E</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>37F02149-F2DC-4A50-A8E4-593770EAD972</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>6A95D568-06E8-4BB9-BE5B-3F8AEED21323</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>7FA150EE-0CE6-41A3-8DAC-BE0921CC5EBB</key>
		<dict>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>E7D5E2A3-012A-46A0-815C-89B7C06E95D2</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>FF385A25-D02D-4959-99EB-96E2DF1DE852</key>
		<dict>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
